<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-body">
    <ul>
      <li><b>Author:</b> <a href="https://github.com/John123Yu" target="_blank">John Yu</a></li>
      <li>This is a data-science project with visualizations displayed as a web application.</li>
      <li>Data was aquired from the IRS website: https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi.</li>
      <li>The information is of the county level, not individual level.</li>
      <li>This project is soley for data exploration. Each zipcode was treated as a row, and clustered using kmeans (6 clusters). Before kmeans, PCA and Standard Scaling was performed. The initial shape of the data is 27681 by 132.</li>
      <li>This project uses the MEAN stack:</li>
    </ul>
  </div>
</div>